<MudNavMenu>
    
    <MudNavGroup Title="Financial" Expanded="true" IconColor="Color.Inherit">
        <MudNavLink Href="/SIPCalculator" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Calculate">SIP Calculator</MudNavLink>        
        <MudNavLink Href="/LumpSumCalculator" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Calculate">LumpSum Calculator</MudNavLink>
        <MudNavLink Href="/SWPCalculator" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Calculate">SWP Calculator</MudNavLink>
        <MudNavLink Href="/HomeLoanCalculator" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Calculate">Home Loan</MudNavLink>
        <MudNavLink Href="/CAGRCalculator" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Calculate">CAGR Calculator</MudNavLink>
    </MudNavGroup>
    <MudNavGroup Title="Adv. Financial" Expanded="true">
        <MudNavLink Href="/RetirementCalculator" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Calculate">Retirement</MudNavLink>
    </MudNavGroup>
</MudNavMenu>

@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Uttam Calculators</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/SIPCalculator">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> SIP Calculator
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/LumpSumCalculator">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> LumpSum Calculator
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/SWPCalculator">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> SWP Calculator
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
} *@
